*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
 color:rgb(46, 46, 250);
 text-decoration: none;

}

a:hover{
    text-decoration: underline;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: #f1f1f1;
    background-color: red;
}

.content{
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}

.post{
    background:white;
    padding: 1.5rem;
    box-shadow: 5px 2px 5px 2px rgb(0, 0, 0, 0.3);
}

@media (min-width: 600px) {
    .content:not(:has(.single-post)){
        grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    }   
}

.menu{
    background-color: black;
    padding: 0 1.5rem;
}

.menu_links{
    list-style: none;
    display: flex;
}

.menu_links a{
 color: white;
 display: block;
 padding: 1.5rem;
}

