/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Esconder checkbox */
#menu_toggle {
    display: none;
}

/* Menu lateral escondido por padrão */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 60px;
    transform: translateX(100%);
    transition: transform 0.5s ease, background-color 0.5s ease;
    z-index: 1000;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
}

/* Mostrar a barra lateral quando o checkbox está marcado */
#menu_toggle:checked + .menu_icon + .menu {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.95);
}

/* Ícone de hambúrguer */
.menu_icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    z-index: 1001;
    transition: color 0.3s ease;
}

.menu_icon:hover {
    color: #ccc;
}

/* Estilização das seções do menu */
.menu_section {
    list-style: none;
    margin: 0 20px 30px 20px;
    text-align: center; /* Centraliza os itens */
}

.menu_title {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
    /* Removido o border-bottom */
    padding-bottom: 10px;
}

.menu_section li {
    margin: 10px 0;
}

.menu_section li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    display: block;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s ease-in-out;
    border-radius: 5px;
}

.menu_section li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .menu {
        width: 220px;
    }

    .menu_icon {
        font-size: 24px;
    }

    .menu_section li a {
        font-size: 18px;
    }
}
