{% extends "global/index.html" %}
{% load static %}

{% block section %}

    <!-- home section design -->
    <section class="home" id="home">
        <div class="home-content">
            <h3>Bem vindo, Me chamo</h3>
            <h1>Henrique Canhadas</h1>
            <h3>Sou <span class="multipe-text"></span></h3>
            <p>Especialista em redes e programação com foco em Python, desenvolvo interfaces e soluções funcionais. Veja como posso agregar valor aos seus projetos.</p>
            <div class="social-media">
                <a href="https://github.com/henriquecanhadas" target="_blank"><i class='bx bxl-github' ></i></a>
                <a href="https://www.linkedin.com/in/henrique-pedrosa/" target="_blank"><i class='bx bxl-linkedin-square' ></i></a>
                <a href="https://www.instagram.com/henrique_canhadas" target="_blank"><i class='bx bxl-instagram-alt' ></i></a>
                <a href="#contact"><i class='bx bxs-envelope'></i></a>
            </div>
            <a href="{% static 'global/file/Henrique_Canhadas_CV.pdf' %}" class="btn" download="Curriculo_Henrique_P_Canhadas.pdf">Baixar CV</a>
        </div>
        <div class="home-img">
            <img src="{% static 'global/img/home.png' %}" alt="">
        </div>
    </section>

    <!-- about section design -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="{% static 'global/img/about.png' %}" alt="Foto de [Seu Nome]">
        </div>
        <div class="about-content">
            <h2 class="heading">Quem Sou <span>Eu</span>?</h2>
            <p>
                Analista de Infraestrutura e graduando em <span>Ciências da Computação</span> pela Universidade Anhembi Morumbi, com foco em Desenvolvimento Back-end, Front-end e Automação de Processos.
            </p>
            <p id="texto-completo" style="display: none;">
                Tenho experiência no desenvolvimento de soluções personalizadas para <span>automação</span> de cálculos e otimização de processos, integrando bases de dados e otimizando tarefas para melhorar a eficiência operacional. Minha principal expertise está no <span>desenvolvimento back-end</span> com <span>Python</span> e <span>Django</span>, além de uma sólida base em <span>front-end</span> com <span>HTML</span>, <span>CSS</span> e <span>JavaScript</span>.
                <br><br>
                Minhas habilidades também abrangem manutenção de <span>redes corporativas</span>, <span>configuração de dispositivos de rede</span> e <span>suporte de hardware</span>. No momento, estou aprofundando minhas competências em <span>Data Center</span> e em linguagens de programação como <span>Python</span>, <span>Java</span> e <span>C</span>, com o objetivo de consolidar conhecimentos tanto em infraestrutura quanto em desenvolvimento.
                <br><br>
                Aberto a novos desafios e aprendizagens, tanto em redes quanto em desenvolvimento, busco constantemente aprimorar minhas habilidades para agregar valor estratégico com soluções técnicas eficientes e inovadoras.
            </p>
            <a href="javascript:void(0);" onclick="mostrarTextoCompleto()" id="leia-mais" class="btn">Leia Mais</a>
        </div>
    </section>
    
    <script>
        function mostrarTextoCompleto() {
            var textoCompleto = document.getElementById("texto-completo");
            var botaoLeiaMais = document.getElementById("leia-mais");
            
            if (textoCompleto.style.display === "none") {
                textoCompleto.style.display = "block";
                botaoLeiaMais.style.display = "none"; // Esconde o botão após expandir o texto
            }
        }
    </script>

    <!-- services section design -->
    <section class="services" id="services">
        <h2 class="heading">Meus <span>Serviços</span></h2>  
        <div class="services-container">
            <div class="services-box">
                <i class='bx bxl-xing'></i>
                <h3>Projeto Excel</h3>
                <p>Desenvolvido em Python com Openpyxl, Pandas e Xlwings, este projeto inclui uma interface CustomTkinter para consolidar dados dispersos em várias abas de uma planilha Excel em uma única aba organizada. A automação facilita o acesso e a interpretação dos dados, tornando o processo mais rápido e eficaz.</p>
            </div>
            <div class="services-box">
                <i class='bx bx-table'></i>
                <h3>Projeto Tabelamento</h3>
                <p>Com uma automação em Python, criei este projeto para otimizar o tabelamento e a organização de dados em planilhas Excel. Usando Openpyxl e Pandas, a solução transforma uma planilha com dados brutos em uma nova versão organizada e padronizada, ideal para facilitar a análise.</p>
            </div>
            <div class="services-box">
                <i class='bx bxs-cog'></i>
                <h3>Projeto Automação</h3>
                <p>Este projeto automatiza um processo repetitivo usando Python com Selenium, WebDriver e email.message. Configurada para realizar login em um site, selecionar dados e baixar arquivos a cada 2 horas, a solução também notifica o cliente por e-mail em caso de erro, simplificando o fluxo de trabalho.</p>
            </div>
        </div> 
    </section>
    
    <!-- portfolio section design -->
    <section class="portfolio" id="portfolio">
        <h2 class="heading">Ultimos <span>Projetos</span></h2>

        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="{% static 'global/img/portfolio1.jpg' %}" alt="">
                <div class="portfolio-layer">
                    <h4>Wed design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quisquam.</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>  
                </div>
            </div>

            <div class="portfolio-box">
                <img src="{% static 'global/img/portfolio2.jpg' %}" alt="">
                <div class="portfolio-layer">
                    <h4>Wed design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quisquam?</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>  
                </div>
            </div>

            <div class="portfolio-box">
                <img src="{% static 'global/img/portfolio3.jpg' %}" alt="">
                <div class="portfolio-layer">
                    <h4>Wed design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quisquam?</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>  
                </div>
            </div>

            <div class="portfolio-box">
                <img src="{% static 'global/img/portfolio4.jpg' %}" alt="">
                <div class="portfolio-layer">
                    <h4>Wed design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quisquam</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>  
                </div>
            </div>

            <div class="portfolio-box">
                <img src="{% static 'global/img/portfolio5.jpg' %}" alt="">
                <div class="portfolio-layer">
                    <h4>Wed design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quisquam</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>  
                </div>
            </div>

            <div class="portfolio-box">
                <img src="{% static 'global/img/portfolio6.jpg' %}" alt="">
                <div class="portfolio-layer">
                    <h4>Wed design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quisquam</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>  
                </div>
            </div>
        </div>
    </section>

    <!-- contact section design -->
    <section class="contact" id="contact">
        <h2 class="heading">Contate-<span>Me !</span></h2>
        <form action="#">
            <div class="input-box">
                <input type="text" placeholder="Nome Completo">
                <input type="email" placeholder="Endereço de Email">
            </div>
            <div class="input-box">
                <input type="number" placeholder="Telefone/Celular">
                <input type="text" placeholder="Assunto do Email">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Sua mensagem"></textarea>
            <input type="submit" value="Enviar mensagem" class="btn">
        </form>
    </section>

{% endblock section %}