body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2e2e2e;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: 2px solid #00ff99; /* Efeito de borda moderna */
}

h1, h2, h3 {
    color: #ffffff;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.contact-info {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.1em;
}

.contact-info p {
    margin: 5px 0;
}

a {
    color: #00ff99;
    text-decoration: none;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}

.skills ul, .languages ul {
    list-style-type: disc;
    margin-left: 20px;
}

.skills ul li, .languages ul li {
    margin-bottom: 8px;
}

.links p {
    margin-bottom: 10px;
}

/* Estilo adicional para melhor formatação */
.objective p, 
.qualifications ul, 
.experience p, 
.education ul, 
.skills ul, 
.languages ul {
    font-size: 1.1em;
    line-height: 1.6;
}

.experience h3 {
    font-size: 20px;
    color: #34495E;
    margin-bottom: 10px;
}

.job-dates {
    font-weight: normal;
    font-size: 14px;
    color: #7F8C8D;
    margin-left: 10px;
}

.job-tasks {
    list-style-type: disc;
    margin-left: 20px;
    color: #ffffff;
}

.job-tasks li {
    margin-bottom: 8px;
    line-height: 1.5;
}

.experience .job {
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #3a3a3a;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}