{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'global/css/menu.css' %}">
</head>
<!-- Checkbox para o menu toggle -->
<input type="checkbox" id="menu_toggle">
<label for="menu_toggle" class="menu_icon">&#9776;</label>

<!-- Menu lateral -->
<nav class="menu">
    <ul class="menu_links">
        <li><a href="{% url 'url_inicial' %}">Pagina Inicial</a></li>
        <li><a href="{% url 'Curriculo:url_curriculo' %}">Curriculo</a></li>
        <li><a href="https://projetocanhadas.streamlit.app/" target="_blank">Projeto Canhadas</a></li>
    </ul>
</nav>

